* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF9F6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
}

input, textarea, button {
  font-family: inherit;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
